<configuration>
	<!-- 由于不好把logback依赖排除出去，spring容器使用logback的日志配置 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- logback为java中的包 -->
	<logger name="logback" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>  